<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>主页</title>
	<link rel="stylesheet" href="../resources/bootstrap-3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../resources/bootstrap-3.3.5/css/bootstrap-theme.min.css">
</head>
<body >
	<div data-ng-app="navApp" data-ng-controller="navCtrl">
		<p>名字 : <input type="text" data-ng-model="name"></p>
 		<p>年龄 : <input type="text" data-ng-model="age"></p>
 		<h1>Hello {{name+age}}</h1>
 		<p>5+5 = {{5+5}} </p>
 		<p>总价: <span data-ng-bind="quantity * cost"></span></p>
 		<p>姓名：{{firstName + '	' + lastName}}</p>
 		<p>姓名：<span data-ng-bind="firstName +'	'+ lastName"></span> </p>
 		<h1>{{person.firstName}}</h1>
		<ul>
			<li data-ng-repeat="x in names">
				{{x}}
			</li>		
		</ul>
		<p data-run></p>
		<form action="" name="myForm">
			<input type="email" name="myAddress" data-ng-model="text">
			<span data-ng-show="myForm.myAddress.$error.email">这不是一个合法的邮箱！</span>
			<br/>
			{{myForm.myAddress.$valid}}	
			{{myForm.myAddress.$dirty}}
    		{{myForm.myAddress.$touched}}
		</form>
	
	</div>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>
</body>
</html>